# Server Configuration
# PORT=7000
NODE_ENV=development

# CORS Configuration - comma separated list
ORIGIN=http://localhost:5173,https://our-frontend-domain.com,https://our-mcp-server.com

# Database
DATABASE_URL="postgresql://user:pass@localhost:5432/archivenet"
REDIS_URL="redis://localhost:6379"

# Arweave
ARWEAVE_WALLET_PATH="./wallet.json"
ARWEAVE_GATEWAY="https://arweave.net"

# Authentication
CLERK_JWT_KEY="""YOUR_PUBLIC_KEY"""
JWT_SECRET="your-secret"

# Embedding Service
OPENAI_API_KEY="your-openai-key"
EMBEDDING_MODEL="text-embedding-3-small"